.add-task {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    input, .btn-add {
        all: unset;
        background: #fff;
        padding: 10px;
        border-radius: 8px;
    }
    input {
        flex: 1;
    }
    .btn-add {
        color: #fff;
        background: #c10000;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
            opacity: 1;
            background: red;
        }
    }
}