.add-task {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    input, .btn-add {
        all: unset;
        background: #ececec !important;
        padding: 10px;
        border-radius: 8px;
    }
    input {
        flex: 1;
        color: #000 !important;
        &::placeholder {
            color: #939393 !important;
            font-weight: bold;
            opacity: 1;
        }
    }
    .btn-add {
        color: #fff !important;
        background: #c10000 !important;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
            opacity: 1;
            background: red;
        }
    }
}